img {
    border-radius: 50%;
}
h1 a{
    color: black;

}
h1 a:hover{
    text-decoration: none;
    color: black;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.inline {
    display: inline-block;
}

.div {
    padding: 0;
}
.drag-tile {
    padding: 0;
}
.drag-tile a {
    padding: 0px 20px;
    margin: 0;
    line-height:80px;
    color: black;
}
.drag-tile a:hover {
    background-color: rgba(0,0,0,.2);
    text-decoration: none;
}
.drag-tile p {
    padding: 0 20px;
}
.margins-bruh {
    width: 75%;
    margin: auto;
}
.active {
    background-color: rgba(0,0,0,.2);
}
.inactive {
    background-color: red;
}
